# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환(return)합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

In [ ]:
# 함수와 method의 차이점

# 함수: func() > 독립적으로 사용
# method: ____.method > 식으로 문자열 뒤에 붙어서 사용

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

a.upper()

# 원본을 직접 변형 시키는게 아니라, 변형된 값만 반환하므로 a의 값은 그대로다.

### `.lower()`, `.swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.
a.swapcase()

### `.join(iterable)`        literable > for 문 돌릴 수 있는 시퀀스 구조 

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다. ( = sep =',')

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
# 아래에 코드를 작성하세요.

'!'.join('배고파')

In [ ]:
a = ['hi', 'hello']
' '.join(a)

In [ ]:
b = ['이', '승', '현']
' '.join(b)

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 앞에서 부터 해당 갯수만큼만 replace합니다.

In [ ]:
# 아래에 코드를 작성하세요.

'yay!'.replace('a', '_')

In [ ]:
'woooowooo'.replace('o', '', 3)           # 앞에서 부터 2개만 replace 함.

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

'        oh!\n'.strip()

In [ ]:
'             oh!\n             '.lstrip()

In [ ]:
'hehehehehehehihihihihihihi'.rstrip('hi')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
k = 'apple'
k.find('l')

In [ ]:
'apple'.find('o')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

'apple'.index('p')

In [ ]:
'apple'.index('k')

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

'a.b.c'.split('.')

In [ ]:
inputs = input().split('  ')
print(inputs)

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
'abcd'.isalpha()     # 문자만 반환

In [ ]:
'가나다라'.isalpha()

In [ ]:
'0123'.isdecimal()     # 숫자만 반환

In [ ]:
'0123'.isdigit()        # 숫자만 반환

In [ ]:
'0123'.isnumeric()     # 숫자만 반환

In [ ]:
'teST 0123'.isspace()    # ?

In [ ]:
'TEST'.isupper()

In [ ]:
'test'.islower()

In [ ]:
'teST'.istitle()

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`   > 1번에 1개만 추가 가능

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.

cafe = ['starbucks', 'hollys', '99 street']
print(cafe)

In [ ]:
# 값을 추가해봅시다.

cafe.append('bene')      # 반복할 때 마다 1개씩 추가된다.
print(cafe)

### `.extend(iterable)` > 1번에 여러개 추가가능(리스트 형식을 이용해서)

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

cafe = ['starbucks', 'hollys', '99 street']

cafe.extend(['droptop', '빽다방'])
print(cafe)

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

cafe += ['맥도날드', '버거킹']

In [ ]:
# append와 비교해봅시다.

cafe.append('append cafe')          # append : 문자열 그대로(괄호 포함) 더해짐
print(cafe)
print('------')

cafe.extend(['extend cafe'])          # extend : 문자열의 '요소'만 더해짐 
print(cafe)                          
print('-------')

cafe.extend('extend string')          # (extend string): e x t e n d string '요소가 하나씩 추가'됨
print(cafe)

cafe.extend(['extend string'])         #
print(cafe)

### `insert(i, x)`  i = index / x = 넣을 문구

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

cafe.insert(0, 'hi')
print(cafe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

cafe.insert(5, 'bye')
print(cafe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

cafe.insert(len(cafe)+100, '랄라라')
print(cafe)

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.

numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

numbers.remove(1)
print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.

numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

numbers.remove(7)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, ***그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

print(a.pop(2))
print(a)

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 

deleted_value = a.pop(2)
print(f'{deleted_value}가 삭제되어 {a}가 되었습니다.')

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

a.index(3)

In [ ]:
# .index() 는 해당 값이 없을 시 valueerror 가 발생합니다. 

a.index(100)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

a.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.(문제풀이에 유용)

a = [1, 2, 5, 1, 5, 1]

target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

print(a)

In [ ]:
# 확실한 확인

target_value in a

### `.sort()`

정렬을 합니다. 

`sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
# sort() 를 사용해봅시다.

import random
lotto = random.sample(range(1, 46), 6)    # random.sample((범위), 추출 갯수)
print(lotto)

In [ ]:
lotto.sort() # > 단순히 반대로 정렬하는 방법
print(lotto)

In [ ]:
test_list = [1, 3 ,89, 45, 32, 62, 2]

In [ ]:
print(test_list.sort())
print(sorted(test_list))

### `.reverse()`

가운데를 기준으로 반대로 '뒤집습니다'. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin', 'James', 'Jun', 'kyle']
classroom.reverse()
print(classroom)

## 복사

In [21]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [22]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [23]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.  >>> 바뀐다! 

copy_list[0] = 5
print(original_list)

[5, 2, 3]

In [24]:
# id 값을 확인해봅시다.

copy_list is original_list

id(copy_list) == id(original_list)

True

In [25]:
# 숫자를 확인해봅시다. >>> 숫자: 안바뀐다!

a = 20005
b = a
b = 30005
b = a
print(a)

20005

In [26]:
# 딕셔너리도 확인해봅시다. > 딕셔너리: 바뀐다!

lunch = {'김밥천국': '치즈라면', '김가네': '탕수육'}
dinner = lunch

dinner['김밥천국'] = '참치김밥'
print(lunch)

{'김밥천국': '참치김밥', '김가네': '탕수육'}

### copy
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다. >>> 슬라이싱으로 복사: 안바뀜  pythontutor.org 확인.

a = [1, 2, 3]
b = a[:]  #  a 리스트 전체라는 뜻 

b[0] = 5
print(a)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [ ]:
# 2차원 배열을 복사해봅시다. > 1차원 리스트는 위의 경우 처럼 따로 복사됨, 그러나 2차원에서는 결국 같은 방향을 가리켜서 복사가 됨 

a = [1, 2, [1, 2]]
b = a[:]

b[2][0] = 100    # 2번 위치의 첫 번재 값을 100으로 바꿈
print(a)

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다. > 안바뀜 : 서로 영향을 받지 않는 2개의 독립된 list가 따로 복사됨 

import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

numbers = list(range(1, 100))
print(numbers)
numbers.clear()
print(numbers)

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

List Comprehension 은 리스트 안에 식, for 문을 지정하여 여러줄의 코드를 한 줄로 줄일 수 있습니다.

```python
[식 for 변수 in iterable]
       ========
list(식 for 변수 in iterable)
```

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
# 기존의 방법

cubic_list = []
for i in range(1, 11):
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
# List Comprehension

cubic_list = [i**3 for i in range(1, 11)]
print(cubic_list)

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
        
print(even_list)

In [ ]:
even_list=[i for i in range(1, 11) if i%2 ==0]
print(even_list)

## List Comprehension + 조건문
```python
[식(형태) for 변수 in iterable if 조건식] > 주로 사용

[식 if 조건식 else 식 for 변수 in iterable] > else가 필요하면 잘 사용 안한다.

# elif 는 다음과 같이 사용해야 합니다.
[식 if 조건식 else 식 if 조건식 else 식 for 변수 in iterable]
```

In [ ]:
# 기존의 방법

even_list = []
for i in range(1, 11):
    even_list.append([1::2])
            or
        
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)

In [ ]:
# List Comprehension
even_list = [i for i in range(1, 11) if i%2==0]
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

result = []

for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
print(result)

In [ ]:
# List comprehension을 활용하여 만들어주세요.

result = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if  x**2 + y**2 == z**2] 
print(result)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
words = 'Life is too short, you need python!'
vowel = 'aeiou'

result=''
for word in words:
    if word not in vowel:
        result += word
print(result)

In [ ]:
words = 'Life is too short, you need python!'
vowels = ['a', 'e', 'i', 'o', 'u']

result = []

for x in words:
    if x not in vowels:
        result.append(x)
        
print(''.join(result))

In [ ]:
# List comprehension을 활용하여 만들어주세요.

words = 'Life is too short, you need python!'
vowels = 'aeiou'

result = [x for x in words if x not in vowels]
print(''.join(result))

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

my_dict.pop('apple')

print(my_dict)

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

my_dict.pop('melon')

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

my_dict.pop('melon', 0)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

my_dict.update(appl='사과아아')
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('coconut', 1))

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

```python
{키: 값 for 키, 값 in 딕셔너리} > 주로 사용
        =====
dict(키: 값 for 키, 값 in 딕셔너리)

{키: 값 for 키, 값 in  딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}
```

In [ ]:
# dictionary comprehension

cubic = {x : x**3 for x in range(1, 8)}
print(cubic)

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
result = {}
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}
for key, value in dusts.items():
    if value > 80:
        result[key] = value   
        print(result)

In [ ]:
result = {key: value for key value in dusts.items() if value > 80}
print(result)

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

result = {key: '나쁨' if value>80 else '보통' for key, value in dusts.items()}
print(result)

In [ ]:
# elif 도 사용할 수 있습니다.
150 매우 나쁨
80 나쁨
30 보통 

result = {key: '매우나쁨' if value>150 else '나쁨' if value >80 else '보통' if value >30 else '좋음' for key, value in dusts.items()}
print(result)

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.         set = 순서가 없어서 아무 위치나 들어가고 중복이 안됨

In [ ]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

a.add('포도')
print(a)
a.add('배')
print(a)

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

a.update({'토마토', '토마토', '딸기',}, {'포도', '레몬'})
print(a)

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

a.remove('사과')
print(a)
a.remove('배')

### `.discard(elem)`
element를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}

a.discard('바나나')
print(a)
a.discard('배')
print(a)

### `.pop()`  set에는 순서가 없지만 set을 만든 파이썬 내부환경에서는 hash table이라는 순서가 있다.  따라서 kernel 초기화 등 파이썬 실행환경이 바뀌기 전까지는 hash table이 바뀌지 않으므로 반복해도 pop / delete .. 등의 순서가 같은것 이다. 

**임의의 원소**를 제거해 반환합니다.

In [3]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

a.pop()
print(a)

{'수박', '바나나', '아보카도'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [6]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

new_numbers = [''.join(str(num) for num in numbers)]
print(new_numbers)

In [7]:
# map
new_numbers = map(str, numbers)
print(new_numbers)
print(''.join(new_numbers))

<map object at 0x0000010E15580080>
123

In [ ]:
numbers = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

new_numbers = [int(num) for num in numbers]
print(new_numbers)

In [ ]:
# map

new_numbers = list(map(int, numbers))
print(new_numbers)

* function은 사용자 정의 함수도 가능합니다.

In [9]:
# 세제곱의 결과를 나타내는 함수

def cube(x):
    return x**3

In [10]:
numbers = [1, 2, 3, 4, 5]

new_numbers = list(map(cube ,numbers))
print(new_numbers)

[1, 8, 27, 64, 125]

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [11]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [12]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [16]:
# dictionary comprehension

{girl: boy for girl in girls for boy in boys}
# 이렇게 하면 이중 for 문이기 때문에, key 는 유일해서 마지막 값을 덮어씌어진다.

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [13]:
# zip

{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [14]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [15]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [18]:
# 홀수인지 판단하는 함수를 작성해봅시다.

def odd(n):
    return n % 2

In [19]:
numbers = [1, 2, 3, 4, 5]
list(filter(odd, numbers))

[1, 3, 5]

In [20]:
# 다음의 list comprehension과 동일하다.
[x for x in numbers if x % 2]

[1, 3, 5]

In [ ]:
[x for x in numbers if odd(x)]

In [ ]:
공부방법:
    1) 하던대로 풀어쓰고 *딕셔너리
    2) comprehension으로 압축해보고 *comprehension
    3) map > zip, filter로 적용해보기 *map