In [ ]:
def my_max(*args):
    result = 0
    for idx, val in enumerate(args):
        if idx == 0:
            result = val
        else:
            if val > result:
                result = val
    return result
    

my_max(10, 20, 30, 50)

In [ ]:
def my_dict(**kwargs):
    result = []
    for key, value in kwargs.item():
        result.append(f'{key} : {value}')
    return ', '.join(result)

In [ ]:
my_account = {
    'username': '홍길동',
    'password': '1q2w3e4r',
    'password_confirmation': '1q2w3e4r'
}

In [ ]:
def signup(username, password, password_confirmation):
    if len(password) >= 8:
        if password == password_confirmation:
                return (f' 회원가입이 완료되었습니다.')

In [ ]:
def fib_loop(n):
    if n < 2:
        return n
    else:
        result = [0, 1]
        for i in range(2, n+1):
            result.append(result[i-1]) + result[i-2])
        return result[-1]

In [ ]:
fib_loop(10)

In [ ]:
[식 for 변수 in iterable]
[식 for 변수 in iterable if 조건식]

In [ ]:
cubic_list = [i**3 for i in range(1, 11)]
print(cubic_list)

In [ ]:
even_list = [i for i in range(1, 11) if i%2==0]
print(even_list)

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

pair = []

for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

In [ ]:
pair_list = [(boy, girl) for boy in boys for girl in girls]
print(pair_list)

In [ ]:
result = []

for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
print(result)

In [ ]:
result = []
words = 'Life is too short, you need python!'
vowels = 'aeiou'
for x in words:
    if x not in vowels:
        result.append(x)
print(''.join(result))

In [ ]:
result =[x for x in words if x not in vowels]
print(''.join(result))

In [ ]:
[식 for x in iterable]   [키: 값 for 키, 값 in 딕셔너리]

In [ ]:
cubic = {x: x**3 for x in range(1, 9) }
print(cubic)

In [ ]:
result = {}
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

for key, value in dusts.items():
    if value > 80:
        result[key] = value
print(result)

In [ ]:
result = {key: value for key, value in dusts.items() if value > 80}
print(result)

In [ ]:
result = {key: value for key, value in dusts.items() if value > 80}
print(result)

In [ ]:
result = {key: '매우나쁨' if value >150 else '나쁨' if value >80 else '보통' if value >30 else '좋음' for key, value in dusts.items()}

In [ ]:
def result(a, b):
    numbers = input('2개의 숫자를 입력하세요: ')
    if a > b:
        return  
    else:
        try:
            result = a / b
                if a > b:
                    
        except ZeroDivisionError as err:
            print(f'{err} 오류가 발생하였습니다.')
        else:
            return result

In [ ]:
# calc.py

def add(a, b):
    return a + b
    
def sub(a, b):
    return a - b
    
def mul(a, b):
    return a * b
    
def div(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return '0으로는 나눌 수 없습니다.'

In [ ]:
import calc

print(calc.add(2, 3))
print(calc.div(2, 0))  # 0으로는 나눌 수 없습니다.

In [ ]:
student = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}


zero_score = 0
for score in student.values():
    score = zero_score + score
        
print(score)

In [ ]:
class Animal:
    def __init__(self, name=''):
        self.name = name
    
    def walk(self):
        print(f'{self.name}! 걷는다!')
        
    def eat(self):
        print(f'{self.name}! 먹는다!')
        
class Dog(Animal):
   
    def run(self):
        print(f'{self.name}! 달린다!')
    
    def walk(self):
        print(f'{self.name}! 달린다!')

class Bird(Animal):
   
    def fly(self):
        print(f'{self.name}! 푸드덕!')

In [ ]:
dog = Dog('멍멍이')
dog.walk()
dog.run()

In [ ]:
bird = Bird('구구')
bird.walk()
bird.eat()
bird.fly()

In [ ]:
from flask import Flask
app = Flask(__name__)

@app.route('/dictionary<string:word>')
def dictionary(word):
    word_book = {
        'apple' : '사과'
        'banana': '바나나'
    }
    if word in word_book:
        result = f'{word}는 {word_book.get(word)}'
    else:
        result = f'{word}는 나만의 단어장에 없는 단어입니다!'
    return result

In [ ]:
student = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [ ]:
student['python']

In [ ]:
{student.get('python')}

In [ ]:
result = 0
for value in student.values():
    result += value
div = result / len(student)
    
print(div)

In [ ]:
help(sum)

In [ ]:
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [ ]:
a = 0
b = 0
ab = 0
o = 0
result = {}

for i in blood_types:
    if i == 'A':
        a += 1
        result['A'] = a
    elif i == 'B':
        b += 1
        result['B'] = b
    elif i == 'AB':
        ab += 1
        result['AB'] = ab
    else:
        o += 1
        result['O'] = o

print(result)

In [ ]:
result = {}
for blood in blood_types:
    num = blood_types.count(blood)
    result[blood] = num
print(result)

In [ ]:
students = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [ ]:
result = 0
for score in students.values():
    result = result + score
div = result / len(students)
zero =print(div)

In [ ]:
students = {'python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [ ]:
result = 0
for student in students.values():
    result = result + student
div = result / len(students)
print(div)

In [ ]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

In [ ]:
result = {}
for book in book_title:
    num = book_title.count(book)
    result[book] = num
print(result)

In [ ]:
result = {}
for book in book_title:
    if book not in result:
        result[book] = 1
    else:
        result[book] += 1
print(result)

In [ ]:
headlines = [
    "Local Bear Eaten by Man",
    "Legislature Announces New Laws",
    "Peasant Discovers Violence Inherent in System",
    "Cat Rescues Fireman Stuck in Tree",
    "Brave Knight Runs Away",
    "Papperbok Review: Totally Triffic"
]

In [ ]:
news = ''
for headline in headlines:
    news += headline
    if len(news) >= 130:
        news = news[:130]
        break
print(news)
print(len(news))

In [ ]:
ages = [10, 23, 8, 30, 25, 31]

In [ ]:
for age in ages:
    if age >= 20:
        print(f'{age} 살은 성인입니다.')
    else:
        pass

In [ ]:
numbers = [1, 5, 10]

In [ ]:
for number in numbers:
    if 3 in numbers:
        print(True)
    else:
        print(False)

In [ ]:
def my_max(a, b):
    if a > b:
        return(f'{a}가 더 큽니다')
    else:
        return(f'{b}가 더 큽니다')

In [ ]:
my_max(3, 8)

In [ ]:
def my_list_max(a, b):
    if sum(a) > sum(b):
        return a
    else:
        return b

In [ ]:
my_list_max([15, 3], [5, 9])

In [ ]:
def mi_max(*args):
    for idx, val in enumerate(args):
        if idx == 0:
            result = val
        else:
            if val > result:
                result = val
    print(result)

In [ ]:
mi_max(10, 20, 30, 50)

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

In [ ]:
pair = []
for boy in boys:
    for girl in girls:
        pair.extend((boy, girl))
print(pair)

In [ ]:
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

In [ ]:
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
print(result)

In [ ]:
results = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x**2 + y**2 == z**2]
print(results)

In [ ]:
words = 'Life is too short, you need python!'
vowel = ['a', 'e', 'i', 'o', 'u']

In [ ]:
result =[]
for word in words:
    if word not in vowel:
        result.append(word)

print(' '.join(result))

In [ ]:
words = 'Life is too short, you need python!'
vowel = 'aeiou'

result=''
for word in words:
    if word not in vowel:
        result += word
print(result)

In [ ]:
result = [word for word in words if word not in vowel]
print(''.join(result))

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
result = {}
for region, num in dusts.items():
    if num > 80:
        result[region] = '나쁨'
    else:
        result[region] = '보통'
print(result)

In [ ]:
result = {region: '매우나쁨' if num > 150 else '나쁨' if num > 80 else '보통' for region, num in dusts.items()}
print(result)

In [ ]:
numbers = [1, 2, 3]
k = map(str, numbers)
print(''.join(k))

In [ ]:
numbers = ['1', '2', '3']
l = list(map(int, numbers))
print(l)

In [ ]:
def double(x):
    return x*2

numbers = [1, 2, 3, 4, 5, 6]
new_numbers = list(map(double, numbers))
print(new_numbers)

In [ ]:
a = '12'
b = '567'
c = '8989'
for x, y, z in zip(a, b, c):
    print(x, y, z)

In [ ]:
my_str = "Life is too short, you need python"

In [ ]:
# 1. 스트링>스트링

result = ''
vowels = 'aeiou'

for word in my_str:
    if word not in vowels:
        result += word
print(result)

In [ ]:
# 2. replace() 로 원본을 수정

vowels = 'aeiou'

for word in my_str:
    if word in vowels:
        result = my_str.replace(vowels, ' ')

print(result)

In [ ]:
baskets = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}

fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

In [ ]:
fruit_count = 0
no_fruit_count = 0

for key, value in baskets.items():
    if key in fruits:
        fruit_count += value
    else:
        no_fruit_count += value

print(f'과일은 {fruit_count}개이고, {no_fruit_count}개는 과일이 아닙니다..')

In [ ]:
name = 'Alice Betty Catherine Davis'

In [ ]:
# 1. Alice + _ + _ Davis 꼴 slice

In [ ]:
# print(len(name))

print(name[0:7] + '. ' + name[12:13] + '. ' + name[22:])

In [ ]:
# print(name.split())
name_list = name.split()
# print(name_list)
for i in range(1, len(name_list)-1):
    name_list[i] = name_list[i][0].upper()
print(name_list[i])

In [ ]:
for i in range(2, 10):
    print(f'-------------{i}단----------------')
    for j in range(1, 10):
        print(f'{i} x {j} = {i*j}')

In [ ]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']

In [ ]:
phone = input()
result= phone[-4:]
print('*'*7 + result)

In [ ]:
word = input()
num = len(word) // 2
if len(word) % 2:
    middle = word[num]
else:
    middle = word[num-1:num+1]
print(middle)

In [ ]:
numbers = [26, 39, 51, 53, 57, 79, 85]

In [ ]:
# 1과 자기자신으로 나눠지면 소수 
numbers = [26, 39, 51, 53, 57, 79, 85]

for number in numbers:
    fox x in range(2, number):
        if number % x == True:
            print(f'{number} 는 소수가 아닙니다. {x} 는 {number} 의 인수입니다.')

In [ ]:
words = 'PyThonic'

In [ ]:
lower = ''
upper = ''
for word in words:
    if word.islower:
        word += lower
    else:
        upper += word
print(lower)
# print(upper)

In [ ]:
words = 'PyThonic'
lower = []
upper = []
for word in words:
    if word.islower:
        lower.append(word)
print(upper)
#     else:
#         upper.append(word)
# print(lower)
# print(upper)
# sorted_words = lower + upper
# print(''.join(sorted_words))

In [ ]:
# 문자열의 첫 두글자와 마지막 두글자를 붙여서 출력하는 함수를 만드시오.
# 단, 문자열의 길이가 2보다 작다면 빈 문자열을 반환하시오.

In [13]:
def comb(word):
    if len(word) < 2:
        return ''
    else:
        return word[0:2] + word[-2:]

In [14]:
comb('warq')

'warq'

In [ ]:
# 첫 번째 문자 자체를 제외한 뒤쪽의 모든 첫 번째 문자와 동일한 문자들은 '$'로 변경하는 코드를 작성하시오.

In [ ]:
def tax(won):