In [ ]:
# 001

print('Hello World')

In [ ]:
# 002

print("Mary\'s cosmetics")

In [ ]:
# 003

print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
# 004

print('"c:\\\\Windows"')

In [ ]:
# 005

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
# 006

print("오늘은", 13, "일요일")

In [ ]:
# 007

print('naver', 'kakao', 'sk', 'samsung', sep=';')

In [ ]:
# 008

print('naver', 'kakao', 'sk', 'samsung', sep=',')

In [ ]:
# 009

print("first", end=' ');print("second")

In [ ]:
# 010

string = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"
print(len(string))

In [ ]:
# 011 (오답)

7

>> a = "3"
>> b = "4"
>> print(a + b)

> 문자열의 합이므로 정답은 34

In [ ]:
# 12

s = "hello"
t = "python"

print(s + '!' + t)

In [ ]:
# 13

Hi Hi Hi

In [ ]:
# 14

print('-' * 80)

In [ ]:
# 15

print(('python' + " " + 'java' + " ") * 4)

In [ ]:
# 16 (오답)

print(20000 * 10) <> print('20000 * 10')
> 200000 값이 출력되지만,  > '20000 * 10'이 출력됨

In [ ]:
# 17

8

In [ ]:
# 18

a = "132"
print(type(a))

In [ ]:
# 19

num_str = "720"
print(type(num_str))

int(num_str)

In [ ]:
# 20

num = 100

str(num)

In [ ]:
# 21

lang = 'python'

print(lang[0], lang[2])

In [ ]:
# 22

license_plate = "24가 2210"
len(license_plate)
print((license_plate[-4:]))

In [ ]:
# 23

string = "홀짝홀짝홀짝"
len(string)
(string[::2])
print(string[1::2])

In [ ]:
# 24 오답 **증감폭을 음수로 지정하면 역순으로 문자들을 가져옴

string = 'PYTHON'

print(string[::-1])

In [ ]:
# 25

phone_number = "010-1111-2222"

phone_number.replace('-', ' ')

In [ ]:
# 26

phone_number = "010-1111-2222"

phone_number.replace('-', '')

In [ ]:
# 27

url = "http://sharebook.kr"

url[-2:]

In [ ]:
# 28 오답

In [ ]:
# 29

string = 'abcdfe2a354a32a'

string.replace('a', 'A')

In [ ]:
# 30  오답
 *replace 메서드는 기존의 문자열을 변경하는 것이 아니라 
    변경된 문자열을 새롭게 생성

In [ ]:
# 41

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
# 42

movie_rank.append('배트맨')
print(movie_rank)

In [ ]:
# 43
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

In [ ]:
# 44
movie_rank.remove('럭키')
print(movie_rank)

In [ ]:
# 45 오답 > del ___[2:] + del + 슬라이싱 2번 위치 이후에 문자를 삭제.

del movie_rank[2:]

print(movie_rank)

In [ ]:
# 46

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = ([lang1 + lang2])

In [ ]:
print(langs)

In [ ]:
# 47

nums = [1, 2, 3, 4, 5, 6, 7]

print(min(nums))
print(max(nums))

In [ ]:
#48

nums = [1, 2, 3, 4, 5]

print(sum(nums))

In [ ]:
# 49

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

print(len(cook))

In [ ]:
# 50


nums = [1, 2, 3, 4, 5]

print((sum(nums)) // len(nums))

In [ ]:
# 51

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1::])

In [ ]:
# 52

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[0::2]

In [ ]:
# 53

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

In [ ]:
# 54

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

In [ ]:
# 55

interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[::2])

In [ ]:
# 56

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

' '.join(interest)

In [ ]:
# 57 (sep은 리스트 나열 후 사용.)

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우', sep='/')

'/'.join(interest)

In [ ]:
# 58

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

"\n".join(interest)

In [ ]:
# 59

string = "삼성전자/LG전자/Naver"

string.replace('/', ',')

In [ ]:
# 60

string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"

interest = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"

print([interest.replace('/', ',')])

interest = string.split['/']