In [4]:
## 리스트는 정수, 문자열, 다른 리스트까지 어떤 데이터 타입이든 포함할 수 있다.

In [5]:
['fe', 'ni'] +['zn']

['fe', 'ni', 'zn']

In [7]:
metals = ['fe', 'ni', 'zn']
metals * 3

['fe', 'ni', 'zn', 'fe', 'ni', 'zn', 'fe', 'ni', 'zn']

In [8]:
del metals[0]

In [9]:
metals

['ni', 'zn']

In [11]:
str([1, 2, 3]) + '45'

'[1, 2, 3]45'

In [12]:
[1, 2] + list('34')  # 3과 4가 분리되어 들어간다.

[1, 2, '3', '4']

In [ ]:
# 2. in 연산자

In [13]:
[1, 2] in [0, 1, 2, 3] # list 는 list 끼리 in 연산자로 평가 x

False

In [15]:
'abc' in 'sadabcqeww' # 문자열은 가능

True

In [16]:
#3. 에일리어싱:
# >> 파이썬에서는 '두 변수의 메모리 주소가 같으면 서로의 에일리어스' 라고 한다.
# ex) 한 리스트를 참조하는 두 변수

# '가변성' 개념이 문제가 되는 원인 중 하나이다. 원본 리스트에 어떠한 할당도 하지 않았는데 홀연히 바뀌어 버리는 찾기 어려운 오류가 발생 하기도 함.
# 문자열, 튜플, range 같은 불변 읽기전용 에서는 일어나지 않음.

In [18]:
dj_list = list(range(1, 10))
dj_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
sl_list = dj_list          # 복사가 아니라 서로 같은 id 를 보는 같은 것임
sl_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
sl_list[0] = 'seoul'
sl_list

['seoul', 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
dj_list

['seoul', 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
gm_list = dj_list[:]     # 복사.! <> 복사본 수정시 원본은 바뀌지 않음.

In [25]:
gm_list[0] = 'gumi'

In [26]:
dj_list

['seoul', 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# 4. 주의사항
# >> '+=' 는 수정, 새로운 리스트를 생성하지 않음. (==.extend)
# >> '+' 는 새로운 리스트를 생성.

In [28]:
a1 = a2 = [1, 2]
b1 = b2 = [1, 2]

a1 += [3]
b1 = b1 + [3]

In [29]:
print(a1)

[1, 2, 3]

In [30]:
print(a2)

[1, 2, 3]

In [31]:
print(b1)

[1, 2, 3]

In [34]:
print(b2)

[1, 2]

In [36]:
help(list.extend)

test = [1, 2, 3]
test.extend([8, 9, 10])
print(test)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

[1, 2, 3, 8, 9, 10]

In [37]:
# .append vs + 

# 1. .append 는 한 값을 덧붙이지만, + 는 두 리스트를 피연산자로 받는다.
# 2. .append 는 새 리스트를 생성하지 않고 수정하는 작업이다.(+=)

In [38]:
life = [[1, 2, 3], ['korea', 'usa'], ['read', 'write']]

In [39]:
life[0]

[1, 2, 3]

In [40]:
life[1][1]

'usa'

In [42]:
korea = life[1]
korea

['korea', 'usa']

In [43]:
life[1]

['korea', 'usa']

In [44]:
korea[0] = 'china'
korea

['china', 'usa']

In [45]:
life

[[1, 2, 3], ['china', 'usa'], ['read', 'write']]

In [46]:
# 5. slice

In [47]:
# 대체 / 삽입
my_list = [1, 2, 3]
my_list[1:2] = [4, 5]
my_list

[1, 4, 5, 3]

In [48]:
# 삽입(아무것도 대체하지 않음)
my_list[1:1] = [6, 7]
my_list

[1, 6, 7, 4, 5, 3]

In [50]:
# 삭제
my_list[1:2] = []
my_list

[1, 4, 5, 3]

In [51]:
#1.0.1 리스트의 끝에 직접 연결하는 손쉬운 방법들

In [53]:
test_list = [1]

In [54]:
# 1 **앞의 빈 슬라이스인 :0 위치에 모두 삽입
test_list[:0] = [2, 3, 4]
test_list

[2, 3, 4, 1]

In [55]:
# 2 끝의 빈슬라이스인 len(test_list): 위치에 모두 삽입 (extend 로 대체)
test_list[len(test_list):] = [5, 6, 7]
test_list

[2, 3, 4, 1, 5, 6, 7]

In [56]:
# 3 extend
test_list.extend([8, 9, 10])
test_list

[2, 3, 4, 1, 5, 6, 7, 8, 9, 10]

In [57]:
# 1.1 list comprehension & map

# 표현식 for 변수 in 범위(이터레이터)
# 표현식 for 변수 in 범위(이터레이터) if 조건식
# 표현식(True) if 조건식 else 표현식(False) for 변수 in 범위(이터레이터)
# 표현식(True) if 조건식 else 표현식(False) for 변수 in 범위(이터레이터) if 조건식(가장 먼저 판단하고 앞으로 간다. False면 끝)

In [63]:
res = []
for c in 'SSAFY':
    res.append(c * 4)
print(res)

['SSSS', 'SSSS', 'AAAA', 'FFFF', 'YYYY']

In [61]:
res = [c * 4 for c in 'SSAFY']
print(res)

['SSSS', 'SSSS', 'AAAA', 'FFFF', 'YYYY']

In [65]:
# map

#map(함수, 이터레이터) # 이터레이터의 요소 하나씩을 함수를 거쳐 나온 아웃풋으로 map 객채를 만듦. 반복문이랑 같은 개념

In [66]:
def mul(x):
    return x * 4


result = list(map(mul, 'SSAFY'))      # list 는 map을 구체적으로 나타내기 위해 사용
print(result)

['SSSS', 'SSSS', 'AAAA', 'FFFF', 'YYYY']

In [ ]:
### 리스트의 모든 요소의 합을 구하는 함수를 만들어보자 (sum 사용불가)

In [79]:
def sum_list(items):
    box = 0
    for item in items:
        box += item
    return box        
  
    
print(sum_list([1, 2, -8]))

-5

In [ ]:
### 리스트의 요소 중 가장 작은 값을 구해보자 (min 사용불가)

In [86]:
def smallest_fuc(items):
    minimum = items[0]
    for item in items[1:]:             # 첫 번째 자기자신은 빼고 비교 or 최소 값이 첫 번째 값에 머물러 있음.
        if item < minimum:
            minimum = item 
    return minimum
        
print(smallest_fuc([1, -4, -8]))

-8

In [ ]:
### 주어진 단어 목록에서 n 보다 긴 단어 목록을 찾는 코드를 작성하시오.

In [127]:
long_word = 'The quick brown fox jumps over the lazy dog'

def long_words(n, word):
    box = []
    long_word.split(' ')

# print(long_word.split(' '))

    for i in word:
        if len(i) > 3:
            box.append(word)
        return box

In [135]:
def long_words(n, word):
    #문자열은 불변이라 조작이 어렵다. 가변인 리스트로 바꾼다.
    char_list = word.split(' ')
    results = []
    for char in char_list:
        if len(char) > 3:
            result.append(char)
        return results

In [132]:
print(long_words(3, 'The quick brown fox jumps over the lazy dog'))

[]

In [92]:
long_words = 'The quick brown fox jumps over the lazy dog'

print(long_words.split(' '))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'laz', 'dog']

In [ ]:
1.4 0번째