In [ ]:
empty = {}
enter = int(input())
for i in range(1, 1+enter):
    empty[i]=i**2
print(empty)

In [33]:
my_dict = {'one': 100, 'two': -54, 'three': 247}

TypeError: 'int' object is not iterable

In [44]:
num = {'n1': [2, 3, 1, 9, 8], 'n2': [5, 1, 2, 3, 1], 'n3': [3, 2, 4, 9, 0]}

# for key, value in num.items():
#     value.sort()
#print(num)

result = {key: sorted(value) for key, value in num.items()}
print(result)

{'n1': [1, 2, 3, 8, 9], 'n2': [1, 1, 2, 3, 5], 'n3': [0, 2, 3, 4, 9]}

In [54]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

count = 0
print('key value count')
for key, value in dict_num.items():
    count += 1
    print(f'{key}   {value}   {count}')

key value count
1   10   1
2   20   2
3   30   3
4   40   4
5   50   5
6   60   6

In [57]:
students = {
    'Harry': {
        'class': 'AD', 
        'student_id': 123456},
    
    'Puja': {
        'class': 'INTER', 
        'student_id': 98762}}

In [58]:
for key, value in students.items():
    print(f'{key} {value}')

Harry {'class': 'AD', 'student_id': 123456}
Puja {'class': 'INTER', 'student_id': 98762}

In [65]:
for key, value in students.items():
    for key2, value2 in value.items():
        print(f'{key2} {value2}')

class AD
student_id 123456
class INTER
student_id 98762

In [70]:
for key, value in students.items():
    print(key)
    for key2, value2 in value.items():
        print(f'{key2} {value2}')

Harry
class AD
student_id 123456
Puja
class INTER
student_id 98762

In [71]:
sample = {'John': ['sub1', 'sub2', 'sub3'], 'Kcarl': ['sub7', 'sub123'], 'Jason': [21, 1, 900]}

In [83]:
count = 0
for value in sample.values():
    count += len(value)
print(count)

8

In [85]:
num = [123, 456, 897, 515, 515]

zero = 0

for i in num:
    zero += i
print(zero)

2506

In [124]:
num = ['123', '456', '897', '515', '515']

sum(list(map(int, num)))

2506

In [129]:
num = ['123', '456', '897', '515', '515']

box = []
for i in num:
    box.append(int(i))
print(sum(box))

2506

In [86]:
test = 'a bc def hijk'

test.split()

# split: str => list

['a', 'bc', 'def', 'hijk']

In [144]:
num = [123, 456, 897, 21 , 31]

base = num[0]

for i in num[1:]:
    if i < base:
        base = i
        
print(base)

21

In [150]:
num = [123, 456, 897, 21 , 31]

big = num[0]

for i in num[1:]:
    if i > big:
        big = i
        
print(big)

897

In [170]:
long_words = 'The quick brown fox jumps over the lazy dog'

div = long_words.split()
# print(div)

result = []
for i in div:
    if len(i) > 3:
        result.append(i)
print(result)

['quick', 'brown', 'jumps', 'over', 'lazy']

In [ ]:
# 첫 번째 문자 자체를 제외한 뒤쪽의 모든 첫 번째 문자와 동일한 문자들은 '$'로 변경하는 코드를 작성하시오.

In [ ]:
abccad=>abcc$d

In [179]:
word = 'abcabaagaa'
base = word[0]
for i in word:
    char = word.replace(word[0], '$')
    result = base + char[1:]
print(result)

abc$b$$g$$

In [ ]:
a = int('4')
a = 인스턴스 int = 클래스

b = []
b = 인스턴스(변수) list = 클래스

self = 인스턴스 자기자신

In [2]:
class Email:
    
    def __init__(self):      #생성자는 항상 넣어라 / self = 인스턴스 자기자신
        self.is_sent = False
        
    
    def send_email(self):
        self.is_sent = True

In [3]:
my_email = Email()

In [4]:
my_email.is_sent

False

In [5]:
my_email.send_email()

In [ ]:
#문제 2

class Bag:
    def __init__(self)
    self.data = []
    
    def add(self, num):
        bag.data.append(num)
        return self.data
        
    def add_twice(self, num):
        self.add(num)
        self.add(num)
        return self.data

In [8]:
# 문제 3

class SquareClass:
    
    def __init__(self, num):
        self.width = num
        
    def square_area(self):
        return self.width**2

In [25]:
# 문제 4

class MyClass:
    
    def __init__(self):
        self.x = ''
    
    def get_String(self):
        self.x = input()
        
    def print_String(self):
        if self.x.islower():
            return self.x.upper()
        else:
            return self.x.lower()

In [26]:
sample = MyClass()
sample.get_String()

asdsad

In [29]:
sample.print_String()

'ASDSAD'

In [30]:
# 문제 5

class Student:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return f'이름은 {self.name}, 나이는 {self.age}'
    
class ClassMate:
    count = 0
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        ClassMate.count += 1
    
    def display(self):
        return (self.x.name, self.y.name)
    
    def sum_age(self):
        return (self.x.age, self.y.age)
    
    def is_teen(self):
        return self.x.age < 20 and self.y.age < 20
    
    @classmethod
    def how_many(cls):
        return f'{cls.count} 쌍의 커플이 있습니다.'
        
        
    
    def __str__(self):
        return f'{self.x.name}과 {self.y.name}는 커플입니다.'