# 종합소득세 계산하기

> A라는 나라에서는 종합소득세는 과세표준 금액 구간에 따라 다른 세율이 적용됩니다.

|과세표준액|세율|
|-------|---|
|1,200이하|6%|
|1,200 ~ 4,600|15%|
|4,600 ~ |35%|

즉, 1,300원을 벌었을 경우 `1,200\*0.06 + 100\*0.15`를 계산한 결과가 납부해야 하는 세액입니다.

함수 `tax(won)`을 만들고 납부해야하는 세금의 결과를 반환하는 함수를 만들어보세요.

---
```
예시)
tax(1200) #=> 72.0
tax(4600) #=> 582.0
tax(5000) #=> 722.0
```

In [1]:
# 여기에 코드를 작성하세요.

def tax(won):
    total_tax = 0
    if won <= 1200:
        total_tax = won*0.06
        return total_tax                          #return 안에 = 사용불가 ex)변수지정 등
    
    else:
        total_tax = 1200*0.06
        if 1200 < won <= 4600:
            return total_tax + ((won-1200)*0.15)
        else:
            total_tax = (1200*0.06) + ((won-1200)*0.15)
            if won > 4600:
                return total_tax + ((won-4600)*0.35)
            
print(tax(4600))

582.0

In [2]:
print(tax(1200))
print(tax(4600))
print(tax(5000))

72.0
582.0
782.0

# 카쉐어링 요금 계산하기

> 카쉐어링 서비스는 요금을 다음과 같이 계산합니다.
>
> 대여는 10분 단위로 가능합니다.
> 
> 1. 대여 요금 : 10분당 1,200원
>
> 2. 보험료 : 30분당 525원 (50분을 빌리면, 1시간으로 계산됩니다.)
>
> 3. 주행 요금 : km당 170원 (주행 요금은 100km가 넘어가면, 넘어간 부분에 대하여 할인이 50% 적용됩니다.)
>
> 예) 160km를 달렸으면, 170\*100 + 85 \*60
>
> 양의 정수인 대여시간(분)과 주행거리를 받아 계산 결과를 반환하는 함수 fee(minute, distance)를 만들어보세요.
---
```
예시) 
    fee(600, 50) #=> 91000
    fee(600, 110) #=> 100350
```

In [9]:
# 여기에 코드를 작성하세요.

def fee(minute, distance):
        total_fee = rental_fee + insurance_fee + distance_fee
        
        rental_fee = 120*minute
            
        insurance_fee = 17.5*minute
        if minute > 50:s
            return 17.5*60
        
        distance_fee = 170*(km)
        if km > 100:
            return distance_fee + (km-100)*85

In [12]:
# 준호쌤 풀이

def fee(minute, distance):
    result = minute*120 + (minute//30)*525 
    if distance > 100:
        result += 17000 + 85*(distance-100)
    else:
        result += 170*distance
    return result

In [17]:
print(fee(600, 50))
print(fee(600, 110))

91000
100350

In [ ]:
# style guide 권장사항(기본적으로 사람이 보기 편한게 권장됨)

# 1
def func(parameter=5):             # 인자의 경우 등호를 붙힌다.
    pass

# 2
y = x**2 + 5                       # +-는 주로 띄운다.
z = (x+y) * (x-y)

# 3
if x>10 and x%2==0:                # 복합연산자의 경우 붙힌다.
    pass

# 4
list =[1, 2, 3]                    # 괄호 이후에는 띄우고 , 다음에는 띄운다.

# 5
func(5)                            # func과 ()소괄호는 붙힌다.

# 6
# 기본적으로 단일 연산자가 보기 쉽게 나열된 경우에는 띄어쓴다. ex) 1 + 1, 2 ** 7

# 문자열 탐색

> 문자열 요소로만 이루어진 리스트를 넣었을 때, 문자열 길이가 2 이상이고 주어진 문자열의 첫번째와 마지막 문자가 같은 문자열의 수를 세는 함수 `start_end`를 작성하시오.

예시)

```python
start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']) #=> 3
```

In [15]:
# 여기에 코드를 작성하세요.

def start_end(words):
# 길이가 2보다 크고(and) 인덱스 0번째와 -1 번째 문자가 같은 경우 count +1 씩 하겠다.
    count = 0
    for word in words:
        if len(word)>= 2 and word(0)==word[-1]: # 연산자 사이 띄어쓰기가 필요하지만 and 등으로 조건이 연결되어있으면 붙힌다.
            count += 1
    return count

In [16]:
# 해당 코드를 통해 3이 나오는지 확인하세요.
print(start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']))

TypeError: 'str' object is not callable


# 이상한 덧셈

> 숫자들을 받아서 양의 정수의 합을 구하는 함수 `positive_sum`을 작성하세요.

예시)

```python
positive_sum(1,-4,7,12) #=> 20
positive_sum(-1, -2, -3, -4) #=> 0
```

In [18]:
# 여기에 코드를 작성하세요.

def positive_sum(*args):           #*args는 시퀀스이므로 반복문 사용이 가능.
# 필요사항: 최종 합산 값, 반복문으로 args 를 평가, 크기가 0 보다 큰지, 크다면 최종 합산 값을 더하기
    result = 0
    for i in args:
        if i > 0:
            result += i
    return result

In [19]:
# 해당 코드를 통해 20과 0이 나오는지 확인하세요.
print(positive_sum(1,-4,7,12))
print(positive_sum(-1, -2, -3, -4))

20
0

# Collatz 추측

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.
>
> 1. 입력된 수가 짝수라면 2로 나눕니다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
>
> 예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, collatz를 완성해 주세요.
>
> 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(27) #=> 111
collatz(626331) #=> -1
```

In [20]:
# 여기에 코드를 작성하세요.

def collatz(num):
# 필요사항: 500번 평가, 짝수면 2로 나누고 홀수면 *3 + 1, 500회 전에 1이 되면 몇번만에 1이 됐는지 count
    for i in range(500):
        num=num/2 if num %2==0 else num*3+1    # 한 줄 조건평가식 (false 부분에 num 정의할 필요x)
        if num == 1:
            return i + 1
    return - 1

In [21]:
# 해당 코드를 통해 8, 4, 111, -1 이 나오는지 확인하세요.
print(collatz(6))
print(collatz(16))
print(collatz(27))
print(collatz(626331))

8
4
111
-1

# 솔로 천국 만들기

> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다. 
>
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 
>
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
>
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.  

예시)

```python
lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4, 4, 4, 3, 3]) #=> [4,3]
```

In [25]:
# 여기에 코드를 작성하세요.

def lonely(numbers):
# 필요사항: 최종 결과 리스트 생성, 첫 번째 수는 무조건 들어감(인덱스[0])
#          그 다음 들어가는 수는 리스트의 마지막 요소(인덱스[-1])와 비교 후  판단.

    result = []
    for idx, num in enumerate(numbers):
        if idx == 0:
            result.append(num)
        if result[-1] != num:
            result.append(num)
    return result

In [26]:
# 해당 코드를 통해 [1, 3, 0, 1]과 [4, 3]이 나오는지 확인하세요.
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]